<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <script src="/public/js/createPost.js"></script>
    <script src="/views/createPost.handlebars"></script>
  </head>
  <body>
    <h1>Create New Post</h1>
    <!-- Add your create new post form here -->
    <form id="post-form">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="title" required />

      <label for="post-content">Content:</label>
      <textarea id="post-content" name="content" rows="4" required></textarea>

      <button type="submit">Create Post</button>
    </form>logout
  </body>
</html>
