<h1>Welcome to the Dashboard</h1>
<!-- Add your dashboard content here -->
<div class="blog-posts">
  {{#each blogPosts}}
    <div class="blog-post">
      <h2>{{this.blog_title}}</h2>
      <p>{{this.blog_text}}</p>
    </div>
  {{/each}}
</div>